@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

button {
    font-family: 'Roboto', sans-serif;
    
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;

    ul {
        display: flex;
    }

    li {
        list-style: none;
        margin-left: 10px;
        cursor: pointer;
    }
}

.main-container {
    display: flex;
    align-items: center;
    .content {
        flex: 1;
        padding-left: 100px;

        p {
            margin: 40px 0;
            color: #b6b6b6;
            line-height: 1.5;
        }

        h1 {
            font-size: 60px;
            color: #447aa9;
        }

        button {
            color: white;
            border-radius: 500px;
            border: none;
            padding: 14px 30px;
            font-size: 30px;
            font-weight: 600;
            background-image: linear-gradient(to right, rgb(194, 38, 155) , rgb(59, 62, 238));
        }
    }
}

.image-container {
    flex: 1;
    img {
        width: 1000px;
        transform: translateX(100px);
    }  
}